.brand,
.model,
.fuel,
.state,
.count,
.payment,
.total {
    display: flex;
    width: 250px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;

}

.select {
    width: 75px;
    height: 30px;
    background-color: azure;
}

.fuel__option,
.state__option,
.count__option,
.payment__option {
    display: flex;
    justify-content: end;
}

.engine {
    display: flex;
    width: 250px;
    padding: 15px;
    justify-content: space-between;
}

.engine__input {
    width: 80px;
}

.count {
    display: none;
}

.total__text {
    font-size: xx-large;
    font-weight: 800;
}

/* .engine__input:required:valid {
    border: 1px solid green;
}

.engine__input:invalid:required {
    border: 1px solid red;
} */